<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Salt</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/materia/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-notification/0.3.6/angular-ui-notification.min.css">
    <style type="text/css">
        .bg-gradient {
            background-image: linear-gradient(120deg, #f5f5f5 0%, #ebedee 100%);
        }
        .highlight {
            opacity: 0.4;
        }
        .sort-order:after {
            content: '\25b2';   // BLACK UP-POINTING TRIANGLE
        }
        .ui-placeholder-highlight:before {
            content: 'Drop Zone';
        }
        .ui-placeholder-highlight {
            font-size: 30px;
            text-align: center;
        }
        .sort-order.reverse:after {
            content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
        }

        .apps-container {
            min-height:50px;
        }

        .app {
            width: 170px;
            padding: 5px 10px;
            margin: 5px 0;
            border: 2px solid #444;
            border-radius: 5px;
            background-color: #EA8A8A;
            font-size: 1.1em;
            font-weight: bold;
            text-align: center;
            cursor: move;
        }
    </style>
</head>
<body>

<div ui-view="menu"></div>
<div class="container-fluid">
    <div ui-view="content"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!-- Angular Material requires Angular.js Libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.0/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.19/angular-ui-router.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.0/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.0/angular-animate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.0/angular-messages.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-notification/0.3.6/angular-ui-notification.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.19.0/sortable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.min.js"></script>

<script>
    angular.module('app', ['new.app', 'ui.router', 'ui-notification', 'blocks.logger', 'ui.bootstrap', 'ui.sortable', 'render.nested.html', 'bind.html.compile', 'angular.filter', 'collection.service' , 'ngMessages', 'ngSanitize', 'ngAnimate']);
    angular.module('new.app', []);
</script>

<!-- Route -->
<script src="config/config.routes.js"></script>

<!-- common directives -->
<script src="common/directives/camelcase.directive.js"></script>
<script src="common/directives/sum-validation.directive.js"></script>
<script src="common/directives/render-nested-html.directive.js"></script>
<script src="common/directives/bind-html-compile.directive.js"></script>

<!-- common services -->
<script src="common/services/render.view.service.js"></script>
<script src="common/services/logger.service.js"></script>
<script src="common/services/collection.service.js"></script>
<script src="common/services/dominio.service.js"></script>
<script src="common/services/render-html.service.js"></script>
<script src="common/services/language-tool.service.js"></script>

<!--script src="config/config.routes.js"></script-->
<script src="create-table-to-json/create-table-to-json.directive.js"></script>

<script src="create-table-to-mvc/create-table-to-model/create-table-to-model.directive.js"></script>
<script src="create-table-to-mvc/create-table-to-view/create-table-to-view.directive.js"></script>
<script src="create-table-to-mvc/create-table-to-controller/create-table-to-controller.directive.js"></script>
    
<!-- Form Builder Controller -->
<script src="form-builder/create-table-converter.controller.js"></script>

<script src="form-builder/form-rows/form-rows.controller.js"></script>
<script src="form-builder/form-rows/form-rows.directive.js"></script>

<script src="form-builder/form-menu/form-menu.controller.js"></script>
<script src="form-builder/form-menu/form-menu.directive.js"></script>

<script src="form-builder/form-columns/form-columns.controller.js"></script>
<script src="form-builder/form-columns/form-columns.directive.js"></script>

<script src="form-builder/form-pages/form-pages.controller.js"></script>
<script src="form-builder/form-pages/form-pages.directive.js"></script>

<script src="form-builder/form-contents/form-contents.controller.js"></script>
<script src="form-builder/form-contents/form-contents.directive.js"></script>

<script src="form-builder/modal/edit-form-builder-data.directive.js"></script>
<script src="form-builder/modal/config/config.choices.client.directive.js"></script>
<script src="form-builder/modal/config/config.img.client.directive.js"></script>
<script src="form-builder/modal/config/config.hide-when.client.directive.js"></script>
<script src="form-builder/modal/config/config.title.client.directive.js"></script>
<script src="form-builder/modal/config/config.general.client.directive.js"></script>
<script src="form-builder/modal/config/config.table-builder.client.directive.js"></script>
<script src="form-builder/modal/config/config.html-editor.client.directive.js"></script>
<script src="form-builder/modal/tab.content.service.js"></script>

<script src="form-builder/render-content.directive.js"></script>

<script src="form-builder/services/form-data.service.js"></script>
<script src="form-builder/services/html-elements.service.js"></script>

<script type="text/ng-template" id="dialog1.tmpl.html">
    <div class="modal-corretor-ortografia">
        <div class="modal-header">
            <div class="text-left">
                <h4 >Correção Ortográfica</h4>
            </div>
            <div class="text-center">
                <button type="button" ng-click="corretorOrtografico()" class="btn btn-outline-info">
                    <i class="fa fa-book"></i>
                </button>
            </div>
            <div class="text-right">
                <button type="button" class="close" aria-label="Close" ng-click="cancel()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="modal-body">
            <div ng-if="isLoading" class="text-center" style="margin-top: 40px;">
                <i class="fa fa-cog fa-spin fa-2x"></i> Loading...
            </div>
            <div ng-if="!isLoading">
                <div class="px-2 py-2 text-white" ng-class="{ 'bg-danger': res.langTool.matches.length > 0, 'bg-success': res.langTool.matches.length <= 0 }" ng-repeat="(key, res) in result" ng-model="result">
                    <div class="form-group">
                        <label for="text-{{ key }}"><span ng-bind="res.text"></span></label>
                        <div class="input-group">
                            <input type="text" ng-model="res.text" ng-change="split(res.text)" id="text-{{ key }}" class="form-control form-control-sm">
                            <div class="input-group-append">
                                <button ng-click="atualizar(res)" class="btn btn-info btn-sm" type="button">
                                    Atualizar <i class="fa fa-book fa-1x" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-repeat="(mK, match) in res.langTool.matches" ng-if="res.langTool.matches.length > 0" class="form-group col-md-6">
                            <label>{{ match.message }}</label>
                            <select multiple class="form-control">
                                <option ng-repeat="(rK, r) in match.replacements" ng-click="newWord(res, i, r.value)" ng-bind="r.value">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" ng-if="!isLoading">
                <button type="button" class="btn btn-primary" ng-click="atualizar()">Salvar Mudanças</button>
                <button type="button" class="btn btn-secondary" ng-click="cancel()">Cancelar</button>
            </div>
        </div>
    </div>
</script>
</body>
</html>