<textarea class="form-control" rows="20">
@extends('layouts.app')
@section('title', ' - Avaliação')
@section('breadcrumbs')
    <ol class="breadcrumb">
        <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
    </ol>
@stop

@section('content')
    @if($acao == 'create')
        <legend class="titulo_pagina">Criar Setor</legend>
    @elseif($acao == 'edit')
        <legend class="titulo_pagina">Editar Setor</legend>
    @elseif($acao == 'show')
        <legend class="titulo_pagina">Detalhes Setor</legend>
    @endif

    @if ($errors->any())
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <ul>
                        @foreach ($errors->all() as $error)
                            <li>{{ $error }}</li>
                        @endforeach
                    </ul>
                </div>
            </div>
        </div>
    @endif

    <form id="form_tpodoc" class="form" role="form"
        @if($acao == 'create')
          action="{{route('setor.store')}}" method="post">
        @elseif($acao == 'edit')
            action="" method="post">
            {{ method_field('PUT') }}
        @else
            action="" method="">
        @endif
        {{ csrf_field() }}

    	{{ content }}

        @if($acao == 'show')
            <div class="row">
                <div class="form-group col-md-12">
                    <div id="bntVoltar">
                        <a href="{{route('setor.index')}}" class="btn btn-default" id="btnVoltarId"><span class="glyphicon glyphicon-circle-arrow-left"></span> Voltar</a>
                    </div>
                </div>
            </div>
        @else
            <div class="row">
                <div class="form-group col-md-12">
                    <div id="divBtn">
                        <a href="{{route('setor.index')}}" class="btn btn-danger" id="btnCancelarId"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
                        <button type="submit" class="btn btn-primary" id="btnSalvarId"><span class="fa fa-btn fa-check"></span> Salvar</button>
                    </div>
                </div>
            </div>
        @endif
    </form>
@stop

@section('script')
@stop
</textarea>