<div
    name="formColumns"
    data-bootstrap-grid="{{ row.grid }}"
    data-page-number="{{ pageIndex }}"
    data-row-index="{{ rowIndex }}"
    ng-model="row.columns"
    ui-sortable="vmColumn.columnSortable"
    class="row"
>
    <div
        ng-repeat="(columnIndex, column) in row.columns track by $index"
        class="col-md-{{ row.grid.trim().split(' ')[columnIndex] }}"
    >
        <div class="column-handle" style="cursor: move;">
            <small>col-md-<span ng-bind="row.grid.trim().split(' ')[columnIndex]"></span></small>
            <div class="border-bottom border-danger"></div>
        </div>
        <form-data></form-data>
    </div>
</div>