<div class="form-group">
    <label for="title-text">Title</label>
    <input
        type="text"
        id="title-text"
        name="title"
        ng-model="content.html.text"
        ng-minlength="5"
        class="form-control form-control-sm"
        ng-class="{ 'is-invalid': !formName.$valid }"
        required
    />
    <div ng-messages="formName.title.$error" class="invalid-feedback">
        <div ng-message="required">You did not enter a field</div>
        <div ng-message="minlength">Your field is too short</div>
    </div>
    <!--label for="title-color">Color</label>
    <input type="text" id="title-color" ng-model="content.html.color" class="form-control" pattern="^#(([0-9a-fA-F]{2}){3}|([0-9a-fA-F]){3})$"/-->
</div>
