<div
    ui-sortable="vmData.dataSortable"
    ng-model="column.data"
    class="connected-drop-target-sortable connected-drop-target-tool mt-2 apps-container"
>
    <div
        ng-repeat="(dataIndex, data) in column.data"
        ng-class="{
            'faa-vertical': (vmData.showOptions === vmData.position)
        }"
        ng-mouseover="vmData.showOptions = ('' + pageIndex + rowIndex + columnIndex + dataIndex)"
        ng-mouseleave="vmData.showOptions = -1;"
        class="row "
    >
        <div class="col-md-12 hvr-glow">
            <span ng-bind="vmData.position = ('' + pageIndex + rowIndex + columnIndex + dataIndex)" style="display: none;"></span>
            <div class="data-handle">
                <div ng-show="vmData.showOptions === vmData.position">
                    <div class="row py-2">
                        <div class="col-md-6">
                            <div class="float-left">
                                <span edit-form-builder-data data="data" type-event="edit" class="badge btn-outline-primary">
                                    <i class="fa fa-edit fa-1x"></i> edit
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="float-right">
                                <span ng-click="vmData.deleteData(column, dataIndex)" class="badge btn-outline-danger" style="cursor: pointer;">
                                    <i class="fas fa-window-close"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <render-content data="data"></render-content>
        </div>
    </div>
</div>