<div
    ui-sortable="vmData.dataSortable"
    ng-model="column.data"
    class="connected-drop-target-sortable connected-drop-target-tool apps-container"
>
    <div
        ng-repeat="(dataIndex, data) in column.data"
        ng-class="{
            'card bg-white px-2 py-2 mt-1': (vmData.showOptions === vmData.position)
        }"
        ng-mouseover="vmData.showOptions = ('' + pageIndex + rowIndex + columnIndex + dataIndex)"
        ng-mouseleave="vmData.showOptions = -1;"
    >
        <div class="row">
            <div class="col-md-12 data-handle">
                <span ng-bind="vmData.position = ('' + pageIndex + rowIndex + columnIndex + dataIndex)" style="display: none;"></span>
                <div ng-if="vmData.showOptions === vmData.position">
                    <div class="row data-handle">
                        <div class="col-md-6">
                            <div class="float-left">
                                <span edit-form-builder-data data="data" type-event="edit" class="badge btn-outline-primary">
                                    <i class="fa fa-edit fa-1x"></i> edit
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="float-right">
                                <span ng-click="vmData.deleteData(column, dataIndex)" class="badge btn-outline-danger" style="cursor: pointer;">
                                    <i class="fas fa-window-close"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <render-content data="data" class="data-handle"></render-content>
            </div>
        </div>
    </div>
</div>